<!doctype html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>元数通</title>
</head>

<body style="overflow-y:hidden; background-color: transparent;">
<div id="root"></div>
<script>
    var zoom = function (e) {
        var e = e || window.event;
        if (e.wheelDelta && event.ctrlKey) {
            event.returnValue = false
        } else if (e.detail) {
            event.returnValue = false;
        }
    }
    if (document.addEventListener) {
        document.addEventListener('DOMMouseScroll', zoom, false);
    }
    window.onmousewheel = document.onmousewheel = zoom;
</script>
</body>

</html>